bin
gen
app/gen
/gen
app/.externalNativeBuild
app/jni/libs/x86/libpreparser_lib.a
app/libs/x86/gdb.setup
app/libs/x86/gdbserver
app/libs/x86/libbgjs.so
app/res/values/com_crashlytics_export_strings.xml
app/obj
app/.idea/workspace.xml
JavaUtils/build/*
app/build/*
google-play-services_lib/build/*
local.properties
.gradle/*
.idea/*
*.iml
build
*/.idea
*/.idea/*
captures
memory
local
support
app/shrink/.gradle
app/shrink/fb/.gradle
app/.cxx/